/* 
	Author :: Elodie BAYET
*/

@use '../utils/utils' as kit;

/*
	Classics
*/

/* Local dynamics */
%illustrative {
    font-weight: 700;
    display: inline-block;
    > span {
        vertical-align: middle;
        margin-right: 7px;
        display: inline-block;
    }
}

%graphic {
	text-transform: uppercase;
	padding: 3px 18px;
}

/* Hidden texts */
.blind { 
	// Screen-readable
	font-size: 0.1rem !important; 
	line-height: 0.1rem !important;
	padding: 0 !important; 
	margin: 0 !important; 
	top: 0 !important; 
	left: -99999px !important;
	position: absolute !important; 
	display: inline !important;
	overflow: hidden !important;
	z-index: 1 !important;
	white-space: nowrap !important;
}
.hide {
	// Not screen-readable
	display: none !important;
}

/* Interactive */
.ideogram {
	text-align: center;
	overflow: hidden;
	display: block;
	width: 44px;
	height: 44px;
    & .symbol {
		line-height: 1rem;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
    }
}

a {
	// Overlayed Link for UI enhancement 
	&.route {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	// Buttons or Links (with icon)
	&.button {
		white-space: nowrap;
		text-overflow: ellipsis;
		padding: 4px 18px;
		max-width: 250px;
		overflow: hidden;
		@extend %illustrative;
	}
	&.link {
		@extend %illustrative;
	}
	// Tabs (whitout icon)
	&.tab {
		margin: 18px 24px 0 0;
		padding: 3px 18px;
		@extend %illustrative;
	}
}

button {
	&.button {
		margin-right: auto;
		margin-left: auto;
		display: block;
		@extend %graphic;
	}
	&.tab {
		display: inline-block;
		margin: 18px 24px 0 0;
		@extend %graphic;
	}
}

/* Integrated floating image */
p.lining { 
    img {
        display: block;
        margin-bottom: .9%;
        @media (min-width:720px) {
            width: 48%;
            float: left;
            margin-right: 3.75%;
        }
    }
    &::after {
		content: " ";
		white-space: nowrap;
        display: table;
        clear: both;
    }
}

/* Lists */
.list {
    li::before {
        content: "••";
        padding-right: 8px;
    }
}

.listitem {
	display: flex;
	flex-wrap: wrap;
    align-content: flex-start;
    &:not(.center):not(.left):not(.right):not(.apart){
        justify-content: space-between;
    }
    > li {
        margin-bottom: 12px;
    }
    &.center {
        justify-content: center;
        > li {
            margin-right: 18px;
            margin-left: 18px;
        }
    }
    &.left > li {
        margin-right: 36px;
    }
    &.right {
        justify-content: flex-end;
        > li {
            margin-left: 36px;
        }
    }
    &.apart li {
        padding-right: 8px;
        ~ li::before {
            content: "••";
            padding-right: 8px;
        }
    }
}

.listline {
    margin-top: 12px;
    li {
        margin-top: 0;
        display: inline;
        white-space: pre-wrap;
    }
    &.center {
        text-align: center;
    }
    &.apart li {
        padding-right: 5px;
        ~ li::before {
            content: "—";
            padding-right: 8px;
        }
    }
}

/* Divisions */
.divided ~ .divided {
	padding-top: 18px;
	margin-top: 12px;
}

/* Structured */
table {
    width: 100%;
    &, th, td {
        border-collapse: collapse;
    }
    td {
        padding: 12px 9px 0;
    }
}

/* Specifics */
.topic {
	position: relative;
    h4 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
	p {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
    > *:last-child {
        padding-bottom: 6px;
		margin-bottom: 6px;
    }
}

.badge {
	text-align: center;
    margin-top: 24px;
    .icon {
        padding-bottom: 14px;
    }
    img {
        height: 48px;
    }
    p small {
        display: block;
    }
}

/* No DB result text information */
.nothing {
	&::before {
		content: "[!] -";
        font-weight: 700;
        letter-spacing: .15rem;
		padding-right: 6px;
	}
	.topic & {
		padding-bottom: 18px;
	}
}

form {
	> div {
		+ div {
			margin-top: 24px;
		}
		label:not(.toggle):not(.choice):first-child,
		legend {
			font-weight: 600;
		}
	}
	label,
	input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]):not([type="button"]):not([type=hidden]),
	select,
	textarea {
		display: block;
		width: 100%;
		max-width: 100%;
	}
	input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]):not([type="button"]):not([type=hidden]),
	textarea {
		padding: 4px;
	}
	select {
		padding: 8px 4px;
	}
	label {
		&.box {
			margin: 0 36px 0 0;
			width: auto;
			display: inline-block;
		}
		&.box:hover,
		&.slab:hover,
		&.toggle:hover {
			cursor: pointer;
		}
	}
	input {
		&[type="checkbox"],
		&[type="radio"] {
			margin-right: 6px;
			position: relative;
		}
		&[type="submit"],
		&[type="reset"],
		&[type="button"] {
			font-weight: 600;
			text-transform: uppercase;
			padding: 4px 12px;
			display: inline-block;
			min-width: 160px;
			margin-right: 18px;
		}
	}
	.currency {
		position: relative;
		span {
			font-size: 1.8rem;
			text-align: center;
			font-weight: bold;
			width: 32px;
			padding: 6px 0;
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
	.value span {
		font-size: 1.4rem;
		line-height: 1.75;
		letter-spacing: .1rem;
		text-align: center;
		font-weight: bold;
		margin-top: 12px;
		padding: 6px 0;
		display: block;
		position: relative;
	}
	.choice, .toggle {
		width: auto;
		min-width: 96px;
		margin: 1.875%;
		position: relative;
		padding: 8px 6px 6px 14px;
		span, strong {
			display: block;
		}
		input {
			position: absolute;
			display: block;
			top: 0;
			left: -9999px;
			margin: 0;	
		}
	}
	@media (min-width:880px) {
		.inline {
			width: 50%;
			min-width: 198px;
			display: inline-block;
			vertical-align: top;
			margin: 0 -1px;
			&:nth-of-type(odd) {
				padding-right: 12px;
			}
			&:nth-of-type(even) {
				padding-left: 12px;
			}
			& input {
				margin-bottom: 0;
			}
		}
	}
}