/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.04 + 2021.09
	Origin :: Belgium, EU
*/

@use '../utils/utils' as kit;

/*
	Interactive Design
	i.e. : ".ideogram", ".route"
*/

/* Local Placeholders */
%illustrative {
	// With icon
    font-weight: 700;
    // margin: 6px 18px 12px;
    display: inline-block;
    > span {
        vertical-align: middle;
        margin-right: 7px;
        display: inline-block;
    }
}
%graphic {
	// Without icon
	text-transform: uppercase;
	padding: 3px 18px;
}

/* Elements w/ Pictograms */
.ideogram {
	text-align: center;
	overflow: hidden;
	display: block;
	width: 44px;
	height: 44px;
    & .symbol {
		line-height: 1rem;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
    }
}

/* Custom <a> : Overlayed, Buttons, Links, Tabs */
a {
	// Overlayed Link for UI enhancement 
	&.route {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	// Buttons or Links (with icon)
	&.button {
		white-space: nowrap;
		text-overflow: ellipsis;
		padding: 4px 18px;
		max-width: 250px;
		overflow: hidden;
		@extend %illustrative;
	}
	&.link {
		@extend %illustrative;
	}
	// Tabs (whitout icon)
	&.tab {
		display: inline-block;
		margin: 18px 24px 0 0;
		@extend %graphic;
	}
}

/* Cutsom <button> : Buttons, Tabs*/
button {
	&.button {
		margin-right: auto;
		margin-left: auto;
		display: block;
		@extend %graphic;
	}
	&.tab {
		display: inline-block;
		margin: 18px 24px 0 0;
		@extend %graphic;
	}
}