/* 
	Author :: Elodie BAYET
*/

@use '../utils/utils' as kit;

/*
	Global layout

	UI limits
	> (min-width:1210px) and (any-hover:hover)
	> (any-hover:none), (max-width:1209px)

	Grid Limits 
	> (min-width:520px)
	> (min-width:720px)
	> (min-width:960px)
*/

/* Local dynamics */ 
@mixin sticky {
	position: sticky;
	top: 0px;
	z-index: 100;
}

%layout {
	margin-left: auto;
	margin-right: auto;
	max-width: 1036px;
}

/* Generalities */
.headline, .navigation, main header {
	text-align: center;
}

/* Logo system */
.applogo {
	position: relative;
	display: inline-block;
	> span {
		white-space: nowrap;
		display: inline-block;
	}
	.icon {
		margin-left: -18px;
		width: 40px;
		left: 50%;
		position: absolute;
	}
	.title {
		font-size: 2.7rem;
		line-height: 6.4rem;
		letter-spacing: .2rem;
	}
	+ p {
		font-size: 1.4rem;
		line-height: 1.25;
		letter-spacing: .1rem;
	}
	// -
	#uihead & {
		padding: 12px 0;
		+ p {
			padding: 0 0 18px 0; 
			margin-top: -18px;
		}
	}
	// -
	#uifoot & {
		+ p {
			margin-top: -4px;
		}
	}
}

/* Menu system */
nav {
	li {
		font-size : 1.8rem;
		line-height: 1.5;
		letter-spacing: .15rem;
		text-transform: uppercase;
		display: inline-block;
		a {
			padding-top: 8px;
			padding-bottom: 8px;
			display: block;
		}
	}
	&:not(.socialmenu) li {
		margin: 9px 18px;
	}
	&.socialmenu {
		li {
			margin: 12px 15px;
			a {
				padding-right: 8px;
				padding-left: 8px;
			}
		}
		.symbol {
			width: 28px;
			height: 28px;
		}
	}
}

.navigation.expand {
	@include kit.navigation-expand;
}

/* Page header system */
#uihead {
	width: 100%;
	padding-bottom: 18px;
	position: relative;
	@include sticky;
    .inner {
        padding: 0 3.75%;
    }
    button {
		width: 44px;
		height: 44px;
		display: block;
		position: absolute;
		top: 10px;
		right: 12px;
		z-index: 110;
    }
	.navigation {
		overflow: hidden;
		nav {
			padding: 1px 0;
		}
	}
	/* If JS works and header is closed */
	html:not(.nojs) &.closed .navigation {
		@media (max-width:1209px) {
			height: 1px;
		}
	}
	@media (min-width:1210px) and (any-hover:hover) {
		.navigation {
			margin-top: -12px;
			display: flex;
			justify-content: space-around;
			overflow: initial;
			nav {
				padding: 0;
			}
		}
		.socialmenu {
			margin-top: -4px; // corr. visual aligment w/ .menumain
		}
		button {
			display: none
		}
	}
}

/* Page footer system */
#uifoot {
	@extend %layout;
	> * {
		padding: 1.875% 3.75%;
	}
	/* Special adaptation of common elements */
	@media (min-width:720px) {
		.headline {
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
		.socialmenu { 
			margin-top: -2px; // corr. visual alignment w/ .applogo
			& ul {
				margin: 0 -16px;
			}
		}
	}
	@media (min-width: 996px) {
		.navigation {
			display: flex;
			justify-content: space-between;
		}
	}
}

/* Content system */
main {
	@extend %layout;
	> * {
		padding: 3.75%;
		position: relative;
	}
	> header {
		padding-bottom: 0;
		a.tab {
			margin: 6px 0 0;
		}
	}
	.nomodule {
		display: inline-block;
		padding-top: 1%;
		padding-bottom: 1%;
	}
}

/* Grid system */
.grid {
	@media (min-width:520px) {
		margin: -1.875% -1.875% 0;
		flex-wrap: wrap;
		justify-content: flex-start;
		display: flex;
		[class*="col"] {
			padding-left: 1.875%;
			padding-right: 1.875%;
			margin-top: 1.875%;
		}
	}
	@media (min-width:720px) {
		&.sm .col-25 {
			width: 25%;
		}
		&.sm .col-33 {
			width: 33.33%;
		}
		&.sm .col-75 {
			width: 75%;
		}
		&.md [class*="col"] {
			width: 50%;
		}
	}
	@media (min-width:960px) {
		&.lg .col-50 {
			width: 50%;
		}
		&.md .col-25, &.lg .col-25 {
			width: 25%;
		}
		&.md .col-33, &.lg .col-33 {
			width: 33%;
		}
		&.md .col-75, &.lg .col-75 {
			width: 75%;
		}
	}
}

/* Columns system */
.columns {
	@media (min-width:720px) {
		column-count: 2;
		column-gap: 3.75%; 
		h3 {
			break-after: avoid;
		}
		*:first-child {
			margin-top: 0; // Hack margin problem related to columns display
		}
	}
}

/* No script system - In 2025, seriously xD */
html {
	&:not(.nojs) noscript {
		display: none;
	}
	&.nojs noscript {
		display: block;
		text-align: center;
		padding: 12px;
		margin: 24px 0;
	}
}