/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.04 + 2021.09
	Origin :: Belgium, EU
*/

@use '../utils/utils' as kit;

/*
    Original Theme
    Dark-Mode backgrounds w/ Water-Blue colors
    - -
    Base Management
*/

/* Local Mixins */
@mixin shadowed-edge($deg: 90deg) {
    background-image: linear-gradient($deg, kit.$bgcolor, kit.$bgcolor, adjust-color(kit.$bgcolor, $alpha: -0.4), adjust-color(kit.$bgcolor, $alpha: -0.7), adjust-color(kit.$bgcolor, $alpha: -1));
}

/* Animations */
@keyframes SlideUp {
	0% { bottom: 0%; opacity: 0.0; }
	33% { bottom: 33%; opacity: 0.0; }
	100% { bottom: 100%; opacity: 1.0; }
}
@keyframes SlideDown {
	0%{ top: 0%; opacity: 0.0; }
	33%{ top: 33%; opacity: 0.0; }
	100%{ top: 100%; opacity: 1.0; }
}
@keyframes Spin {
	0% { transform: rotate(0deg); filter: brightness(115%); }
	50% { transform: rotate(180deg); filter: brightness(85%); }
	100% { transform: rotate(360deg); filter: brightness(115%); }
}
@keyframes FadeOn {
	0% { opacity: 0.0; }
	100% { opacity: 1.0; }
}


/* General */
body {
	background-color: kit.$bgcolor;
	color: kit.$fontcolor;
}

/* Typography */
main {
    h1 {
        color: kit.$light;
    }
    h2 {
        color: kit.$origin;
    }
    h3 {
        color: kit.$bright;
    }
    h4 {
        color: kit.$mlight;
    }
    pre {
        border: 1px solid kit.$alert;
        padding: 18px;
    }
    a:not([class]) {
        color: kit.$bright;
        border-bottom: 1px solid kit.$origin;
        &:hover, &:focus {
            color: kit.$lighten;
            border-bottom: 1px solid kit.$darken;
        }
    }
    abbr {
		color: kit.$ltalert;
	}
    // Color classes
    .blacken {
        color: kit.$blacken;
    }
    .darken {
        color: kit.$darken;
    }
    .origin {
        color: kit.$origin;
    }
    .lighten {
        color: kit.$lighten;
    }
    // Grey classes
    .xdark {
        color: kit.$xdark;
    }
    .dark {
        color: kit.$dark;
    }
    .mdark {
        color: kit.$mdark;
    }
    .medium {
        color: kit.$medium;
    }
    .mlight {
        color: kit.$mlight;
    }
    .light {
        color: kit.$light;
    }
    .xlight {
        color: kit.$xlight;
    }
}

/* Logo */
.applogo {
    > span {
        @extend %transition;
    }
    .icon {
        opacity: 1;
    }
    .title {
        color: kit.$dark;
    }
    &:hover {
        .icon {
            opacity: .1;
        }
        .title {
            color: kit.$origin;
        }
    }
    + p {
        color: kit.$xlight;
    }
}

/* Menu */
nav {
    li a {
        color: kit.$bright;
	    background-color: transparent;
        &:hover, &:focus, &.selected {
            color: kit.$lighten;
        }
    }
    &.socialmenu li a{
        filter: brightness(150%) grayscale(99%);
        opacity: .9;
        &:hover, &:focus {
            filter: brightness(100%) grayscale(0%);
            opacity: 1;
        }
    }
}

/* Navigations : expand ? */
@if kit.$expand {
    .navigation.expand {
        .sub li a {
            color: kit.$fontcolor;
            background-color: transparent;
            &:hover, &:focus, &.selected {
                color: kit.$origin;
            }
        }
    }
}

/* Main U-Interface Header */
#uihead {
    .inner {
        color: inherit;
        background-color: kit.$xdark;
        box-shadow: 0 4px 12px 2px kit.$obscur;
        position: relative;
        z-index: 101;
    }
    @if kit.$edges {
        .edge {
            color: inherit;
            background-color: transparent;
            position: absolute;
            width: 15%;
            max-width: 320px;
            height: 100%;
            top: 0;
            display: block;
        }
        .inner + .edge {
            // 90deg
            @include shadowed-edge;
            left: 0;
			z-index: 102;
        }
        .edge + .edge {
            @include shadowed-edge(-90deg);
            right: 0;
			z-index: 103;
        }
    }
    button {
        color: inherit;
        background-color: transparent;
        @include kit.ui-icon;
        @include kit.ui-icon-pos(cross);
        filter: grayscale(100%) brightness(150%);
        &:hover{
            filter: grayscale(0%) brightness(100%);
        }
    }
    &.closed button {
        @include kit.ui-icon-pos(bars);
    }
    .navigation {
		width: 75%; // Keep navigation items away from screen borders
		margin-right: auto;
		margin-left: auto;
        @extend %transition;
        nav + nav {
            @media (max-width:1209px), (any-hover:none){
                background-image: linear-gradient( 90deg, kit.$dark, kit.$dark );
                background-position: 50% 0%;
                background-size: 48px 1px;
                background-repeat: no-repeat;
                padding-top: 8px;
            }
        }
        @if kit.$expand {
            @media (min-width:1210px) and (any-hover:hover) {
                .sub::before {
                    content: " ";
                    position: absolute;
                    border-width: 4px;
                    border-style: solid;
                    border-color: kit.$medium transparent transparent transparent;
                    top: 98%;
                    left: 50%;
                    margin-left: -2px;
                }
                .sub:hover::before {
                    border-color: kit.$darken transparent transparent transparent;
                }
                .sub ul {
                    background-color: kit.$xdark;
                    background-clip: content-box;
                    opacity: .9;
                }
            }
        }
    }
}

/* Main U-Interface Footer */
#uifoot {
    border-top: 1px dotted kit.$mdark;
    h3 {
        color: kit.$xlight;
        background-color: transparent;
    }
}

/* Main Content */
main {
    // No JS block
    noscript {
        opacity: .75;
        border: 1px solid kit.$alert;
    }
    // Anything disabled
    *.disabled {
        opacity: .5;
        filter: grayscale(100%);
        &:hover {
            cursor: not-allowed;
        }
    }
    // Module error block
    .nomodule {
        color: kit.$mlight;
        samp {
            border: 1px solid kit.$dkalert;
            padding: 9px;
        }
    }
}