/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.04 + 2021.09
	Origin :: Belgium, EU
*/

@use '../utils/utils' as kit;

/*
    Original Theme
    Dark-Mode backgrounds w/ Water-Blue colors
    - -
    Components Management
*/

/* Classical Content Elements */
.list {
    li::before {
        color: kit.$darken;
    }
}

.listitem {
    &.apart li {
        ~ li::before {
            color: kit.$mdark;
        }
    }
}

.listline {
    &.apart li {
        ~ li::before {
            color: kit.$blacken;
        }
    }
}

table {
    thead tr:last-of-type {
        border-bottom: 2px solid kit.$origin;
    }
    tr ~ tr {
        border-top : 1px solid kit.$darken;
    }
}

.badge {
    .title{
        border-top: 1px solid kit.$dark;
    }
    p small{
        color: kit.$mlight;
        background-color: transparent;
    }
}

.divided {
    ~ .divided {
        border-top: 1px dashed kit.$blacken;
    }
}

.nothing {
	&::before {
		color: kit.$alert;
	}
}

.filters {
    &.error {
        border: 1px solid kit.$alert;
        padding: 9px 24px 12px;
    }
    h4 {
        color: kit.$darken;
    }
    ul {
        border: 1px solid kit.$dark;
        padding: 6px 6px 12px;
        position: relative;
        &::after {
            border-color: kit.$dark transparent transparent transparent;
            top: 100%; 
            content: " ";
            position: absolute;
            border-width: 9px;
            border-style: solid;
        }
    }
}

/* Interactive Elements */
a.button, a.link {
    $size: 1;
    &.url span {
        @include kit.brand-icon; // 18px 20px @each .pdf, .bitbucket...
    }
    &:not(.url) {
        > span {
            width: 9px;
            line-height: 23px;
            @include kit.ui-icon($size);
        }
        &.selected {
            color: kit.$lighten;
            > span {
                @include kit.ui-icon-pos(cross, 9px, $size);
                filter: brightness(500%) grayscale(99%);
            }
        }
    }
    &.toggle > span { 
        @include kit.ui-icon-pos(active, 9px, $size);
    }
    &.anchor > span {
        @include kit.ui-icon-pos(end, 9px, $size);
    }
}

a.button {
    color: kit.$bright;
    background-color: lighten(kit.$bgcolor, 15%);
    &:not(.disabled):hover { // [!] - :disabled pseudo-class doesn't allowed on <button> or <a>
        background-color: lighten(kit.$bgcolor, 25%);
    }
}

a.link {
    color: kit.$bright;
    background-color: transparent;
    &:not(.disabled):hover { // [!] - :disabled pseudo-class doesn't allowed on <button> or <a>
        color: kit.$origin;
    }
}

button.button, button.tab {
    color: kit.$fontcolor;
	background-color: kit.$bgcolor;
	border-width: 1px;
	border-style: solid;
	border-color: kit.$origin;
	border-radius: 2px;
    &:not(.disabled):hover,
    &.selected {
        color: kit.$fontcolor;
        background-color: kit.$xdark;
        border-color: kit.$lighten;
    }
}

/* Advanced Elements */
.share { 
    a {
        .symbol {
            @extend %transition;
            filter: brightness(150%) grayscale(99%);
        }
        &:hover, &:focus {
            .symbol {
                filter: brightness(100%) grayscale(0%);
            }
        }
    }
}

@media (min-width:960px) and (any-hover:hover){
    .tooltip {
        &:hover { 
            .top {
                animation: SlideUp .33s ease-in-out;
            }
            .bottom {
                animation: SlideDown .33s ease-in-out;
            }
        }
        .tip { 
            color: kit.$obscur;
            background-image: linear-gradient(15deg, kit.$xlight, kit.$bright);
            box-shadow: 2px 4px 8px 2px rgba(0,0,0,.5);
            &::after {
                content: " ";
                position: absolute;
                border-width: 5px;
                border-style: solid;
                left: 10px;
            } 
            &.top::after {
                border-color: kit.$xlight transparent transparent transparent;
                top: 100%;
            }
            &.bottom::after {
                border-color: transparent transparent kit.$xlight transparent;
                bottom: 100%; 
            }
        }
    }
}

.project {
    .cover div {
	    box-shadow: 3px 6px 8px 2px change-color(kit.$obscur, $alpha: .6);
    }
    a {
        + .cover div img {
            @extend %transition;
            transform-origin: 50% 50%;
            transform: scale(1,1);
        }
        &:hover + .cover div img {
            transform: scale(1.05,1.05);
        }
    }
    .summary {
        color: kit.$fontcolor;
        background-color: kit.$bgcolor;
        .date, .title {
            text-shadow: -4px 4px 4px kit.$obscur;
        }
        .date {
            color: kit.$lighten;
            background-color: transparent;
            background-image: linear-gradient(90deg, kit.$mlight, kit.$mlight);
            background-position: 0 14px;
            background-size: 122px 1px;
            background-repeat: no-repeat;
        }
    }
    .edge {
        color: inherit;
        background-color: kit.$bgcolor;
        &:nth-of-type(1) {
            opacity: 1;
            transition-delay: .05s;
        }
        &:nth-of-type(2) {
            opacity: .75;
            transition-delay: .1s;
        }
        &:nth-of-type(3) {
            opacity: .5;
            transition-delay: .15s;
        }
        &:nth-of-type(4) {
            opacity: .25;
            transition-delay: .2s;
        }
    }
    &:hover .edge {
        opacity: 0;
        &:nth-of-type(1) {
            transition-delay: .2s;
        }
        &:nth-of-type(2) {
            transition-delay: .15s;
        }
        &:nth-of-type(3) {
            transition-delay: .1s;
        }
        &:nth-of-type(4) {
            transition-delay: .05s;
        }
    }
}

.onload {
	position: relative;
	> *:not(.spin) {
		opacity: .5;
		filter: blur(2px);
	}
    .spin {
        width: 48px;
        height: 48px;
        top: 50%;
        left: 50%;
        margin-top: -24px;
        margin-left: -24px;
        position: absolute;
        background-repeat: no-repeat;
        background-image: radial-gradient(kit.$origin, kit.$lighten, transparent, transparent, transparent, transparent);
        border-top: 8px double rgba(244,240,240, .9);
        border-bottom: 8px double rgba(244,240,240, .9);
        border-right: 8px double rgba(191,186,186, .9);
        border-left: 8px double rgba(191,186,186, .9);
        border-radius: 50%;
        animation: Spin 2s linear infinite;
    }
}

.bypass {
	.cursor {
		height: 44px;
		width: 44px;
		filter: grayscale(100%);
		@extend %transition;
        @include kit.ui-icon();
	}
	.label {
		color: kit.$bright;
		background-color: change-color(kit.$bgcolor, $alpha: .66);
	}
	&:hover {
        .cursor {
		    filter: grayscale(0);
        }
    }
	&#previous {
        .cursor {
            @include kit.ui-icon-pos(prev, 44px, 2);
        }
        .label {
            margin-left: -6px;
            border-left: 1px solid kit.$medium;
        }
    }
	&#next {
        .cursor {
            @include kit.ui-icon-pos(next, 44px, 2);
        }
        .label {
            margin-right: -6px;
            border-right: 1px solid kit.$medium
        }
    }
}
@media (min-width:1036px) {
    .bypass {
        &:hover .label {
            animation: FadeOn .33s ease-in-out;
        }
    }
}