/*
    Global Mixins
*/

@use "sass:map";
@use 'sass:math';

/* For 'navigation-expand' mixin */
@mixin list-item {
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 18px;
	display: list-item;	
}

/* For layout w/ expanded navigation */
@mixin navigation-expand {
	.sub li {
		text-transform: capitalize;
		margin: 12px 24px 0;
	}
	@media (any-hover:none), (max-width:1209px) {
		#uihead & .mainmenu > ul > li {
			@include list-item;
		}
	}
	@media (min-width:1210px) and (any-hover:hover){
		#uihead & {
			nav:not(.langmenu):not(.socialmenu) > ul > li {
				position: relative;
			}
			.sub {
				ul {
					padding-top: 24px;
					display: none;
					position: absolute;
					top: 100%;
					left: -54px;
					width: 200px;
				}
				&:hover ul {
					display: block;
				}
				li {
					display: list-item;
					margin: 24px 12px;
				}
			}
		}
	}
}

/* Set for UI icons mixins */
$ui-iconcode: (
    bars: 0,
    cross: 1,
    prev: 2,
    next: 3,
    begin: 4,
    end: 5,
    active: 6,
    grab: 7,
    more: 8,
    social: 9
);
$ui-iconsize: (
    width: 9px,
    height: 220px
);
$brand-iconset: (
    pdf: url('https://www.elodiebayet.com/assets/icons/icon_reader.svg'),
    github: url('https://www.elodiebayet.com/assets/icons/icon_github.svg'),
    bitbucket: url('https://www.elodiebayet.com/assets/icons/icon_bitbucket.svg'),
    linkedin: url('https://www.elodiebayet.com/assets/icons/icon_linkedin.svg')
);

/* For icons of brands (used in theme) */
@mixin brand-icon {
    width: 18px;
    height: 20px;
    background-repeat: no-repeat;
    @each $brand, $url in $brand-iconset {
        &.#{$brand} {
            background-image: $url;
        }
    }
}

/* For icons of UI (used in theme) */
@mixin ui-icon($size: 2) {
    $w: $size * map.get($ui-iconsize, width);
    $h: $size * map.get($ui-iconsize, height);
    // -
    background-image: url('../../assets/ui/navigation_icons_bl.svg'); // 176px / 1760px
    background-repeat: no-repeat;
    background-size: $w $h;
}

/* For positioning UI icons (used in theme) */
@mixin ui-icon-pos($picto: bars, $wdt: 44px, $size: 2) {
    $w: $wdt - ($size * map.get($ui-iconsize, width)); // ex. 44px - (2 * 9px);
    $h: $size * map.get($ui-iconsize, height);
    @if $size == 1 { 
        $w: 0;
    }
    // -
    background-position-x: math.div($w, 2);
    background-position-y: math.div($h, -10) * map.get($ui-iconcode, $picto);
}

/* For success or failure informations */
@mixin colored-info($color, $content) {
    h4 {
        color: $color;
        border-bottom: 1px solid $color;
        &::before {
			content: $content;
            font-weight: bold;
            margin-right: 4px;
		}
    }
    p {
        font-style: italic;
    }
}