/*
    Global Variables
*/

@use "sass:color";

/* Main Colors */
$fontcolor: rgb(38, 38, 38);
$bgcolor: rgb(242, 239, 239);
$bright : rgb(255, 255, 255);
$obscur: rgb(0, 0, 0);

/* Custom Greys */
$xlight: color.scale($fontcolor, $lightness: (7 * 11.5%));
$light: color.scale($fontcolor, $lightness: (6 * 11.5%));
$mlight: color.scale($fontcolor, $lightness: (5 * 11.5%));
$medium: color.scale($fontcolor, $lightness: (4 * 11.5%));
$mdark: color.scale($fontcolor, $lightness: (3 * 11.5%));
$dark: color.scale($fontcolor, $lightness: (2 * 11.5%));
$xdark: color.scale($fontcolor, $lightness: (1 * 11.5%));

/* Dynamic Colors */
$origin: rgb(10, 107, 119);
$lighten: color.scale($origin, $lightness: 15%);
$darken: color.scale($origin, $blackness: 15%);
$alert: rgb(178,11,43);
$dkalert: color.scale($alert, $lightness: 15%);
$ltalert: color.scale($alert, $lightness: 15%);
$valid: rgb(84, 184, 0);
$dkvalid: color.scale($valid, $blackness: 15%);
$ltvalid: color.scale($valid, $lightness: 15%);
