/*
    Global Variables
*/

/* Main Colors */
$fontcolor: rgb(240,240,242);   // #f0f0f2
$bgcolor: rgb(36,36,40);        // #242428
$bright : rgb(255,255,255);     // (!) - Usualy pure white or the lightest color of theme
$obscur: rgb(11,11,15);         // (!) - Usualy pure black or the darkest color of theme

/* Custom Greys */
$xlight: scale-color($bgcolor, $lightness: (7 * 11.5%));    // #d4d4d8 | rgb(212,212,216)
$light: scale-color($bgcolor, $lightness: (6 * 11.5%));     // #bababf | rgb(186,186,191)
$mlight: scale-color($bgcolor, $lightness: (5 * 11.5%));    // #9595a5 | rgb(149,149,165)
$medium: scale-color($bgcolor, $lightness: (4 * 11.5%));    // #85858c | rgb(133,133,140)
$mdark: scale-color($bgcolor, $lightness: (3 * 11.5%));     // #6b6b72 | rgb(107,107,114)
$dark: scale-color($bgcolor, $lightness: (2 * 11.5%));      // #535359 | rgb(83,83,89)
$xdark: scale-color($bgcolor, $lightness: (1 * 11.5%));     // #3a3a40 | rgb(58,58,64)

/* Dynamic Colors */
$origin: rgb(18,190,213);         // #12bed5
$lighten: lighten($origin, 15%);    // #44dbef | rgb(68, 219, 239)
$darken: darken($origin, 15%);      // #0c7f8e 
$blacken: darken($origin, 25%);     // #08555f | rgb(8, 85, 95)
$alert: rgb(178,11,43);
$dkalert: scale-color($alert, $blackness: 15%);
$ltalert: scale-color($alert, $lightness: 15%);
